/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2b2b2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-duplicate-prev,
.swiper-slide-duplicate-next {
  overflow: hidden;
  z-index: -1;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgb(0 0 0 / 45%), rgb(0 0 0 / 0%));
  backdrop-filter: blur(2px);
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 45%),
    rgb(0 0 0 / 0%)
  );
  backdrop-filter: blur(2px);
}
/* colors */
$yellow: #ffac33;
$white: #ffffff;

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@include keyframes(yellow-circle) {
  0% {
    border-width: 0px;
    opacity: 0.8;
  }
  80% {
    border-width: 25px;
    opacity: 0.8;
  }
  100% {
    border-width: 25px;
    opacity: 0.5;
  }
}
@include keyframes(white-circle) {
  from {
    border-width: 0px;
  }
  to {
    border-width: 25px;
  }
}
@include keyframes(shiner) {
  0% {
    height: 0px;
    transform-origin: 1px -5px;
    top: 5px;
  }
  60% {
    height: 15px;
    transform-origin: 1px -5px;
    top: 5px;
  }
  100% {
    height: 0px;
    transform-origin: 1px -15px;
    top: 15px;
  }
}
@include keyframes(star) {
  0% {
    font-size: 0;
    color: $yellow;
  }
  30% {
    font-size: 0;
  }
  50% {
    /*font-size:2.2em;*/
    font-size: 1.8em;
  }
  66% {
    font-size: 1em;
  }
  82% {
    font-size: 1.6em;
  }
  92% {
    font-size: 1.1em;
  }
  /*	94% {
		font-size:1.6em;
	}
	97% {
		font-size:1.4em;
	}*/
  100% {
    font-size: 1.2em;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  background: light-grey;
}
.fave {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  .circle {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 0;
      height: 0;
      border-radius: 50%;
    }
    &:before {
      border: 0px solid $yellow;
    }
    &:after {
      border: 0px solid $white;
    }
  }
  .shine {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    z-index: 1;
    .shiner {
      position: absolute;
      top: 5px;
      left: 0;
      width: 2px;
      height: 0px;
      background: $yellow;
    }
    $i: 1;
    @while $i <= 5 {
      $j: $i - 1;
      $rotation: 72 * $j;
      .shiner:nth-child(#{$i}) {
        transform: rotate(#{$rotation}deg);
      }
      $i: $i + 1;
    }
  }
  i.fa-star {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    margin-top: 1px;
    margin-left: 1px;
    font-size: 1em;
    color: lightgrey;
    transition: font-size 0.2s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    .fa-star {
      color: $yellow;
    }
  }
  &.selected {
    .circle {
      &:before {
        @include animation("yellow-circle .6s ease-in-out 0 1");
      }
      &:after {
        @include animation("white-circle .5s ease-in-out .2s 1");
      }
    }
    .shine .shiner {
      @include animation("shiner .6s ease-out 1 0s");
    }
    i.fa-star {
      @include animation("star 1.1s ease-in-out 1 0s");
      font-size: 1.2em;
      color: $yellow;
    }
  }
}
.inspirations {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 12px;
  padding: 20px;
  line-height: 20px;
  a {
    color: blue;
  }
}
